/* Font styling (adjust as needed) */
body {
  background-color: rgb(245, 237, 237);
  font-family: Arial, sans-serif;
  font-size: 16px;

}
.description{
  background-color: whitesmoke;
}

.navbar-brand {
  display: none;
}


#mechanical-engineering {
  margin-top: 6em; /* Adjust as needed to create enough space */
}


h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Image styling */
.img-fluid {
  width: 100%;
  height: 300px; /* Adjust as needed */
  object-fit: cover;
}

/* Menu highlighting (adjust colors as needed) */
.nav-link.active {
  color: #fff;
}

.nav-link:not(.active) {
    color: #757575; /* Adjust as needed */
}

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: #2a2a2a; /* Change this to your desired color */

}

.navbar-brand, .nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ddd;
}

.navbar {
  border-bottom: 1px solid #ddd;
}
